<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.dao.mapper.ArticleStationMapper">
  <resultMap id="BaseResultMap" type="com.share.entity.dao.ArticleStation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_admire" jdbcType="INTEGER" property="articleAdmire" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="article_oppose" jdbcType="INTEGER" property="articleOppose" />
    <result column="article_brose" jdbcType="INTEGER" property="articleBrose" />
    <result column="article_publish_time" jdbcType="TIMESTAMP" property="articlePublishTime" />
    <result column="article_id_edit" jdbcType="INTEGER" property="articleIdEdit" />
    <result column="article_edit_time" jdbcType="TIMESTAMP" property="articleEditTime" />
    <result column="can_be_reprint" jdbcType="BIT" property="canBeReprint" />
    <result column="reprint_user_name" jdbcType="VARCHAR" property="reprintUserName" />
    <result column="reprint_link" jdbcType="VARCHAR" property="reprintLink" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.share.entity.dao.ArticleStation">
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, article_title, article_admire, user_name, article_oppose, article_brose, article_publish_time, 
    article_id_edit, article_edit_time, can_be_reprint, reprint_user_name, reprint_link
  </sql>
  <sql id="Blob_Column_List">
    article_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article_station
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getArticleListByUserName" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article_station
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>

  <select id="getArticleListInIndex" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    left(article_content, 200) as `article_content`
    from article_station order by `id` desc limit (#{pageNo, jdbcType=INTEGER} - 1) * #{pageSize, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from article_station
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.share.entity.dao.ArticleStation">
    insert into article_station (id, article_title, article_admire, 
      user_name, article_oppose, article_brose, 
      article_publish_time, article_id_edit, article_edit_time, 
      can_be_reprint, reprint_user_name, reprint_link, 
      article_content)
    values (#{id,jdbcType=BIGINT}, #{articleTitle,jdbcType=VARCHAR}, #{articleAdmire,jdbcType=INTEGER}, 
      #{userName,jdbcType=VARCHAR}, #{articleOppose,jdbcType=INTEGER}, #{articleBrose,jdbcType=INTEGER}, 
      #{articlePublishTime,jdbcType=TIMESTAMP}, #{articleIdEdit,jdbcType=INTEGER}, #{articleEditTime,jdbcType=TIMESTAMP}, 
      #{canBeReprint,jdbcType=BIT}, #{reprintUserName,jdbcType=VARCHAR}, #{reprintLink,jdbcType=VARCHAR}, 
      #{articleContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.share.entity.dao.ArticleStation">
    insert into article_station
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleAdmire != null">
        article_admire,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="articleOppose != null">
        article_oppose,
      </if>
      <if test="articleBrose != null">
        article_brose,
      </if>
      <if test="articlePublishTime != null">
        article_publish_time,
      </if>
      <if test="articleIdEdit != null">
        article_id_edit,
      </if>
      <if test="articleEditTime != null">
        article_edit_time,
      </if>
      <if test="canBeReprint != null">
        can_be_reprint,
      </if>
      <if test="reprintUserName != null">
        reprint_user_name,
      </if>
      <if test="reprintLink != null">
        reprint_link,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleAdmire != null">
        #{articleAdmire,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="articleOppose != null">
        #{articleOppose,jdbcType=INTEGER},
      </if>
      <if test="articleBrose != null">
        #{articleBrose,jdbcType=INTEGER},
      </if>
      <if test="articlePublishTime != null">
        #{articlePublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleIdEdit != null">
        #{articleIdEdit,jdbcType=INTEGER},
      </if>
      <if test="articleEditTime != null">
        #{articleEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canBeReprint != null">
        #{canBeReprint,jdbcType=BIT},
      </if>
      <if test="reprintUserName != null">
        #{reprintUserName,jdbcType=VARCHAR},
      </if>
      <if test="reprintLink != null">
        #{reprintLink,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.entity.dao.ArticleStation">
    update article_station
    <set>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleAdmire != null">
        article_admire = #{articleAdmire,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="articleOppose != null">
        article_oppose = #{articleOppose,jdbcType=INTEGER},
      </if>
      <if test="articleBrose != null">
        article_brose = #{articleBrose,jdbcType=INTEGER},
      </if>
      <if test="articlePublishTime != null">
        article_publish_time = #{articlePublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleIdEdit != null">
        article_id_edit = #{articleIdEdit,jdbcType=INTEGER},
      </if>
      <if test="articleEditTime != null">
        article_edit_time = #{articleEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canBeReprint != null">
        can_be_reprint = #{canBeReprint,jdbcType=BIT},
      </if>
      <if test="reprintUserName != null">
        reprint_user_name = #{reprintUserName,jdbcType=VARCHAR},
      </if>
      <if test="reprintLink != null">
        reprint_link = #{reprintLink,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.share.entity.dao.ArticleStation">
    update article_station
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_admire = #{articleAdmire,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      article_oppose = #{articleOppose,jdbcType=INTEGER},
      article_brose = #{articleBrose,jdbcType=INTEGER},
      article_publish_time = #{articlePublishTime,jdbcType=TIMESTAMP},
      article_id_edit = #{articleIdEdit,jdbcType=INTEGER},
      article_edit_time = #{articleEditTime,jdbcType=TIMESTAMP},
      can_be_reprint = #{canBeReprint,jdbcType=BIT},
      reprint_user_name = #{reprintUserName,jdbcType=VARCHAR},
      reprint_link = #{reprintLink,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.share.entity.dao.ArticleStation">
    update article_station
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_admire = #{articleAdmire,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      article_oppose = #{articleOppose,jdbcType=INTEGER},
      article_brose = #{articleBrose,jdbcType=INTEGER},
      article_publish_time = #{articlePublishTime,jdbcType=TIMESTAMP},
      article_id_edit = #{articleIdEdit,jdbcType=INTEGER},
      article_edit_time = #{articleEditTime,jdbcType=TIMESTAMP},
      can_be_reprint = #{canBeReprint,jdbcType=BIT},
      reprint_user_name = #{reprintUserName,jdbcType=VARCHAR},
      reprint_link = #{reprintLink,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>