<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.dao.mapper.FavoriteArticlesStationMapper">
  <resultMap id="BaseResultMap" type="com.share.entity.dao.FavoriteArticlesStation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="author_name" jdbcType="VARCHAR" property="authorName" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, author_name, article_title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from favorite_articles_station
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from favorite_articles_station
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.share.entity.dao.FavoriteArticlesStation">
    insert into favorite_articles_station (id, user_name, author_name,
      article_title)
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{authorName,jdbcType=VARCHAR},
      #{articleTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.share.entity.dao.FavoriteArticlesStation">
    insert into favorite_articles_station
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="authorName != null">
        author_name,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.entity.dao.FavoriteArticlesStation">
    update favorite_articles_station
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="authorName != null">
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.share.entity.dao.FavoriteArticlesStation">
    update favorite_articles_station
    set user_name = #{userName,jdbcType=VARCHAR},
      author_name = #{authorName,jdbcType=VARCHAR},
      article_title = #{articleTitle,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
