<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.dao.mapper.UsersStationMapper">
  <resultMap id="BaseResultMap" type="com.share.entity.UsersStation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_role" jdbcType="CHAR" property="userRole" />
    <result column="user_login_time" jdbcType="TIMESTAMP" property="userLoginTime" />
    <result column="user_regist_time" jdbcType="TIMESTAMP" property="userRegistTime" />
    <result column="user_status" jdbcType="CHAR" property="userStatus" />
    <result column="user_forbidden_time" jdbcType="TIMESTAMP" property="userForbiddenTime" />
    <result column="user_money" jdbcType="DECIMAL" property="userMoney" />
    <result column="user_vip_lost_time" jdbcType="TIMESTAMP" property="userVipLostTime" />
    <result column="user_vip_init_time" jdbcType="TIMESTAMP" property="userVipInitTime" />
    <result column="user_vip_valid" jdbcType="BIT" property="userVipValid" />
    <result column="user_phone_number" jdbcType="INTEGER" property="userPhoneNumber" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="user_points" jdbcType="INTEGER" property="userPoints" />
    <result column="user_password_question" jdbcType="VARCHAR" property="userPasswordQuestion" />
    <result column="user_password_answer" jdbcType="VARCHAR" property="userPasswordAnswer" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, user_password, user_role, user_login_time, user_regist_time, user_status,
    user_forbidden_time, user_money, user_vip_lost_time, user_vip_init_time, user_vip_valid,
    user_phone_number, user_email, user_address, user_points, user_password_question,
    user_password_answer
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users_station
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getUsersStationByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from users_station
    where user_name = #{userName}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from users_station
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.share.entity.UsersStation">
    insert into users_station (id, user_name, user_password, 
      user_role, user_login_time, user_regist_time,
      user_status, user_forbidden_time, user_money,
      user_vip_lost_time, user_vip_init_time, user_vip_valid,
      user_phone_number, user_email, user_address,
      user_points, user_password_question, user_password_answer
      )
    values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR},
      #{userRole,jdbcType=CHAR}, #{userLoginTime,jdbcType=TIMESTAMP}, #{userRegistTime,jdbcType=TIMESTAMP},
      #{userStatus,jdbcType=CHAR}, #{userForbiddenTime,jdbcType=TIMESTAMP}, #{userMoney,jdbcType=DECIMAL},
      #{userVipLostTime,jdbcType=TIMESTAMP}, #{userVipInitTime,jdbcType=TIMESTAMP}, #{userVipValid,jdbcType=BIT},
      #{userPhoneNumber,jdbcType=INTEGER}, #{userEmail,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR},
      #{userPoints,jdbcType=INTEGER}, #{userPasswordQuestion,jdbcType=VARCHAR}, #{userPasswordAnswer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.share.entity.UsersStation">
    insert into users_station
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userRole != null">
        user_role,
      </if>
      <if test="userLoginTime != null">
        user_login_time,
      </if>
      <if test="userRegistTime != null">
        user_regist_time,
      </if>
      <if test="userStatus != null">
        user_status,
      </if>
      <if test="userForbiddenTime != null">
        user_forbidden_time,
      </if>
      <if test="userMoney != null">
        user_money,
      </if>
      <if test="userVipLostTime != null">
        user_vip_lost_time,
      </if>
      <if test="userVipInitTime != null">
        user_vip_init_time,
      </if>
      <if test="userVipValid != null">
        user_vip_valid,
      </if>
      <if test="userPhoneNumber != null">
        user_phone_number,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userAddress != null">
        user_address,
      </if>
      <if test="userPoints != null">
        user_points,
      </if>
      <if test="userPasswordQuestion != null">
        user_password_question,
      </if>
      <if test="userPasswordAnswer != null">
        user_password_answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        #{userRole,jdbcType=CHAR},
      </if>
      <if test="userLoginTime != null">
        #{userLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userRegistTime != null">
        #{userRegistTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userStatus != null">
        #{userStatus,jdbcType=CHAR},
      </if>
      <if test="userForbiddenTime != null">
        #{userForbiddenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userMoney != null">
        #{userMoney,jdbcType=DECIMAL},
      </if>
      <if test="userVipLostTime != null">
        #{userVipLostTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userVipInitTime != null">
        #{userVipInitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userVipValid != null">
        #{userVipValid,jdbcType=BIT},
      </if>
      <if test="userPhoneNumber != null">
        #{userPhoneNumber,jdbcType=INTEGER},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userPoints != null">
        #{userPoints,jdbcType=INTEGER},
      </if>
      <if test="userPasswordQuestion != null">
        #{userPasswordQuestion,jdbcType=VARCHAR},
      </if>
      <if test="userPasswordAnswer != null">
        #{userPasswordAnswer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.entity.UsersStation">
    update users_station
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userRole != null">
        user_role = #{userRole,jdbcType=CHAR},
      </if>
      <if test="userLoginTime != null">
        user_login_time = #{userLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userRegistTime != null">
        user_regist_time = #{userRegistTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=CHAR},
      </if>
      <if test="userForbiddenTime != null">
        user_forbidden_time = #{userForbiddenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userMoney != null">
        user_money = #{userMoney,jdbcType=DECIMAL},
      </if>
      <if test="userVipLostTime != null">
        user_vip_lost_time = #{userVipLostTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userVipInitTime != null">
        user_vip_init_time = #{userVipInitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userVipValid != null">
        user_vip_valid = #{userVipValid,jdbcType=BIT},
      </if>
      <if test="userPhoneNumber != null">
        user_phone_number = #{userPhoneNumber,jdbcType=INTEGER},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="userPoints != null">
        user_points = #{userPoints,jdbcType=INTEGER},
      </if>
      <if test="userPasswordQuestion != null">
        user_password_question = #{userPasswordQuestion,jdbcType=VARCHAR},
      </if>
      <if test="userPasswordAnswer != null">
        user_password_answer = #{userPasswordAnswer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateLoginTimeByUserName" parameterType="map">
    update users_station
    set user_login_time = #{loginTime,jdbcType=TIMESTAMP}
    where user_name = #{userName,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.share.entity.UsersStation">
    update users_station
    set user_name = #{userName,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_role = #{userRole,jdbcType=CHAR},
      user_login_time = #{userLoginTime,jdbcType=TIMESTAMP},
      user_regist_time = #{userRegistTime,jdbcType=TIMESTAMP},
      user_status = #{userStatus,jdbcType=CHAR},
      user_forbidden_time = #{userForbiddenTime,jdbcType=TIMESTAMP},
      user_money = #{userMoney,jdbcType=DECIMAL},
      user_vip_lost_time = #{userVipLostTime,jdbcType=TIMESTAMP},
      user_vip_init_time = #{userVipInitTime,jdbcType=TIMESTAMP},
      user_vip_valid = #{userVipValid,jdbcType=BIT},
      user_phone_number = #{userPhoneNumber,jdbcType=INTEGER},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR},
      user_points = #{userPoints,jdbcType=INTEGER},
      user_password_question = #{userPasswordQuestion,jdbcType=VARCHAR},
      user_password_answer = #{userPasswordAnswer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>